.current-weather {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 50px;

  .temp {
    margin-top: 0;
  }
  img {
    width: 100px;
  }
  p {
    font-size: 1.2rem;
    margin: 0;
  }
}

.condition,
.condition-icon {
  text-align: center;
}
.condition-text {
  margin-top: 0;
}

.left-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  max-width: 400px;
}

.right-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  gap: 100px;
}
.detail-item:last-child {
  margin-bottom: 0;
}

.detail-label {
  color: #cccccc;
}

.detail-value {
  font-weight: 600;
}