.hourly-container {
  display: flex;
  overflow-x: scroll;
  max-width: 800px;
  gap: 1rem;
  padding: 1rem;
  border-radius: 16px;
}

.hour-card {
  min-width: 80px;
  padding: 0.5rem;
  text-align: center;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  backdrop-filter: blur(8px);
}
.hour-icon {
  width: 40px;
  height: 40px;
  margin: 0.25rem auto;
}
.hour-time,
.hour-temp,
.hour-rain {
  font-size: 0.9rem;
}