form {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 400px;

  background: rgba(50, 50, 50, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(50, 50, 50, 0.3);
}
.search-input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 8px;
  background: transparent;
  width: 100%;
}
.search-icon {
  cursor: default;
}