/* .bg-sunrise {
  background: linear-gradient(to bottom right, #1c2f49, #ff5f9d);
}
.bg-day {
  background: linear-gradient(to bottom right, #30507e, #1c2f49);
}
.bg-sunset {
  background: linear-gradient(to bottom right, #30507e, #f85f9f);
}
.bg-night {
  background: linear-gradient(to bottom right, #1c2a44, #0d151f);
} */

.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.card {
  background: rgba(50, 50, 50, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(50, 50, 50, 0.3);

  padding: 2.5rem;
}